* {
  margin: 0;
  padding: 0; }

.header {
  background: #191919;
  padding: 20px;
  box-shadow: 2px 2px 2px #464646; }
  .header h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ffffff; }
    .header h1:first-letter {
      color: red; }

.buttons {
  margin-top: 1em;
  text-align: center; }
  .buttons button {
    padding: 1em;
    border-radius: 16px;
    background-color: #191919;
    color: #e1e1e6;
    cursor: pointer;
    height: 50px;
    width: 50px; }

.imgwrap {
  width: 1100px;
  margin: 20px auto;
  position: relative; }
  .imgwrap p {
    position: absolute;
    top: 600px;
    color: #f8f8ff;
    background: #101010;
    opacity: 0.7;
    font-size: 40px; }

img {
  width: 1130px;
  height: 700px; }
.inputs {
  text-align: center; }
